.introBox{
    width: 80%;
    margin: 100px auto;
}

.introContainer{
    text-align: center;
    padding: 50px;
    background-color: gray;
    color: white;
    border-radius: 30px;
    font-size: 2em;
    line-height: 1.5;
}

.toMainBtn{
    text-align: center;
    font-size: 1.8em;
    background-color: lightgray;
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.toMainBtn a{
    color: black;
}