/* body{
    font-size:62.5%;
} */

body{
    font-size: 62.5%;
}

.headerList_container{
    display: none;
}

.headerList_item{
    display: flex;
    height: 50px;
    line-height: 50px;
    background-color: gray;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.headerList_select{
    color: white;
    justify-content: center;
    font-size: 1.8em;
    margin: auto 20px;
}

.selectWearList{
    width: 30%;
}

.selectWearList_container{
    display: flex;
}

.selectWearList_list{
    background-color: skyblue;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    width: 70%;
}

.selectWearList_select{
    width: 8vw;
    margin: 10px;
}

.selectWearList_selectItem{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: skyblue;
}

.showWearItem{
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.selectWearList_contents{
    text-align: center;
    font-size: 1.4em;
    line-height: 1.5;
}

.headerList{
    background-color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.headerList a{
    color: white;
    font-size: 1.8em;
    margin: 20px;
}

.userSelectImgTops{
    width: 150px;
}
.userSelectImgPants{
    width: 150px;
    height: 200px;
}
.userSelectImgShoes{
    width: 150px;
}

.showWearList{
    width: 40%;
    text-align: center;
}

.searchItemList{
    height: 250px;
    overflow: scroll;
    background-color: pink;
}

.searchItemList_container{
    display: flex;
}

@media screen and (max-width: 480px){

.headerList_container{
     display: flex;
}

.selectWearList_container{
    display: none;
    margin: 10px;
}

.selectWearList{
    margin: auto 0;
}

.selectWearList_list{
    width: 100%;
    height: 200px;
    margin: 0;
    margin-bottom: 20px;
}

.selectWearList_select{
    width: 100%;
    margin: 0;
    height: 30px;
}

.selectWearList_contents{
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.displayBlock{
    display: block;
}

 }