/* body{
    font-size:62.5%;
} */

body{
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
}

.displayPcOn{
    display: block;
}

.displaySpOn{
    display: none;
}

.headerTitle{
    color: white;
    font-size: 3em;
    border-bottom: 1px solid white;
    font-family: 'Cinzel', serif;
}

.headerTitle h1{
    font-weight: 700;
}

.headerList_container{
    display: none;
}

.headerList_item{
    display: flex;
    height: 50px;
    line-height: 50px;
    background-color: gray;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.headerList_select{
    color: white;
    justify-content: center;
    font-size: 1.8em;
    margin: auto 20px;
}

footer{
    background-color: black;
}

.footerList{
    max-width: 1000px;
    margin: auto;
}

.footerListItem{
    padding: 10px;
}

.footerListItem a{
    color: white;
    font-size: 1.4em;
}

.footerText{
    color: white;
    font-size: 1.4em;
}

.footerTextBox{
    text-align: center;
    padding: 30px;
}

.selectWearList{
    width: 30%;
    margin: auto 0;
}

.selectWearList_container{
    display: flex;
}

.selectWearList_list{
    background-color: lightgray;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0px 0px 5px 1px darkgrey;
}

.selectWearList_contents{
    color: black;
}

.selectWearList_select{
    width: 8vw;
    margin: 10px;
}

.selectWearList_selectItem{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
    box-shadow: 0px 0px 5px 1px darkgrey;
}

.showWearItem{
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.selectWearList_contents{
    text-align: center;
    font-size: 1.4em;
    line-height: 1.5;
}

.headerList{
    background-color: black;
    text-align: center;
    /* height: 50px; */
    line-height: 50px;
}

.headerList a{
    color: white;
    font-size: 1.8em;
    margin: 20px;
}

.userSelectImgTops{
    width: 150px;
}
.userSelectImgPants{
    width: 100px;
    height: 150px;
}
.userSelectImgShoes{
    width: 100px;
}

.showWearList{
    min-width: 400px;
    text-align: center;
    background-image: url('../img/other/manekin_background.jpg');
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    background-position-x: 6px;
}

.showWearList_head{
    height: 85px;
}

.searchItemList{
    height: 250px;
    overflow: scroll;
    background-color: lightblue;
    list-style: none;
}

.searchItemList_container{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.showPrice{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.4em;
}

.showPriceList{
    width: 90%;
    margin: auto;
}

.showPriceList_item{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

.showPriceList_price{
    text-align: right;
    padding: 10px;
    color: red;
}

.searchListText{
    font-size: 1.4em;
    text-align: center;
    /* margin: 10px; */
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    line-height: 1.4;
}

.searchItemList_box{
    margin: 10px;
    font-size: 1.4em;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 0px 0px grey;
    line-height: 1.2;
    width: 300px;
}

.searchItemPrice{
    padding: 10px;
    text-align: right;
    color: red;
}

.searchItemName{
    border-bottom: 1px dotted black;
    padding: 10px;
    line-height: 1.4;
}

.searchItemShow{
    width: 100%;
}

.textRed{
    color: firebrick;
    font-weight: bold;
}

/* モーダル */

.ShowItemText{
    cursor: pointer;
}

.showItemModal{
    font-size: 1.6em;
    line-height: 1.6;
    text-align: center;
}

.modalBtnText{
    color: black;
}

.modalBtn{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.modalBtnSet{
    background-color: black;
    color: white;
    width: 150px;
    display: block;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* additional アイテムレイアウト */

.showWearList{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px){

.displayPcOn{
    display: none;
}

.displaySpOn{
    display: block;
}

.headerList a{
    color: white;
    font-size: 2em;
    margin: 30px;
}

.headerList_container{
     display: flex;
}

.selectWearList_container{
    display: none;
    margin: 10px;
}

/* .selectWearList{
    margin: auto 0;
} */

.selectWearList_list{
    width: 100%;
    height: 200px;
    margin: 0;
    margin-bottom: 20px;
}

.selectWearList_select{
    width: 100%;
    margin: 0;
    height: 30px;
}

.selectWearList_contents{
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.displayBlock{
    display: block;
}

.showWearList{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    /* z-index: -1; */
    min-width: 100px;
}

.showWearList_head{
    height: 72px;
}

.userSelectImgTops{
    width: 160px;
}
.userSelectImgPants{
    width: 110px;
    height: 160px;
}
.userSelectImgShoes{
    width: 110px;
}

.searchItemList_box{
    width: 140px;
}

/* モーダル */

.modalBtn{
    flex-direction: column;
    align-items: center;
}

.modalBtnSet{
    margin: 10px;
}

 }