/* body{
    font-size:62.5%;
} */

body{
    font-size: 62.5%;
}

.selectWearList{
    width: 30%;
}

.selectWearList_container{
    display: flex;
}

.selectWearList_list{
    background-color: skyblue;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    width: 70%;
}

.selectWearList_select{
    width: 30%;
    margin: 10px;
}

.selectWearList_selectItem{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: skyblue;
}

.showWearItem{
    display: flex;
}

.selectWearList_contents{
    text-align: center;
    font-size: 1.4em;
    line-height: 1.5;
}

.headerList{
    background-color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.headerList a{
    color: white;
    font-size: 1.8em;
    margin: 20px;
}

.userSelectImgTops{
    width: 150px;
}
.userSelectImgPants{
    width: 150px;
    height: 200px;
}
.userSelectImgShoes{
    width: 150px;
}

.showWearList{
    width: 40%;
    text-align: center;
}

.searchItemList{
    height: 250px;
    overflow: scroll;
    background-color: pink;
}

.searchItemList_container{
    display: flex;
}