/* register画面 */

.genderBox{
  display: flex;
  justify-content: space-evenly;
}

.genderRadiobox{
  margin: 10px auto;
}

.registerImg{
    background-image: url('../img/other/tenniswoman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-gray-100{
    background-color: rgba(243, 244, 246, 0.2);
}

@media screen and (max-width: 700px){

    .pt-6{
        padding: 0;
    }

    .bg-gray-100{
        display: flex;
        justify-content: center;
    }
}

