.center{
    text-align: center;
}

/* register画面 */

.genderBox{
  display: flex;
  justify-content: space-evenly;
}

.genderRadiobox{
  margin: 10px auto;
}

.registerImg{
    background-image: url('../img/other/tenniswoman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-gray-100{
    background-color: rgba(243, 244, 246, 0.2);
}

/* login */

.loginBtnArea{
    padding: 10px 0;
}

.userRegister{
    text-align: right;
    border-top: 1px dotted gray;
    padding: 10px 0;
}

/* ナビバー */

.titleName{
    color: white;
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 2em;
    font-weight: bold;
}

.navDisp{
    background-color: black;
}

.whiteText{
    color: white;
}

/* ダッシュボード */

.userImg{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    border: 5px solid gray;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainerList{
    padding: 30px;
}

@media screen and (max-width: 700px){

    .pt-6{
        padding: 0;
    }

    /* .bg-gray-100{
        display: flex;
        justify-content: center;
    } */
}

