.searchContainer{
    max-width: 1400px;
}

.positionCircle{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    margin: auto;
}

.currentPositionChecked{
    background-color: black;
}

.currentPositionList{
    display: flex;
    justify-content: center;
}

.currentPositionList_item{
    margin: 20px;
}

.currentPositionText{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.introText{
    text-align: center;
    margin: 30px;
    font-size: 1.4em;
    line-height: 1.2;
}

.mannequinSect{
    text-align: center;
    position: relative;
}

.mannequinImg{
    width: 200px;
    height: auto;
}

.mannequinTops{
    width: 70px;
    height: 70px;
    content: '';
    background-color: yellow;
    position: absolute;
    top: 0;
    margin: 30px auto;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
}

.colorSelect{
    display: flex;
    justify-content: center;
    width: 50vw;
    margin: auto;
    flex-wrap: wrap;
}

.colorSelectInput{
    display: none;
}

.colorSelectInput:checked + label > div{
    border: 3px solid red;
    box-shadow: 0px 0px 5px 0px grey;
    cursor: pointer;
}

.colorBox{
    margin: 10px;
    width: 80px;
    height: 40px;
    border: 1px dotted black;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.blackBox{
    background-color: black;
}

.whiteBox{
    background-color: white;
}

.blueBox{
    background-color: blue;
}

.pinkBox{
    background-color: pink;
}

.redBox{
    background-color: red;
}

.navyBox{
    background-color: navy;
}

.skyblueBox{
    background-color: skyblue;
}

.lightgreenBox{
    background-color: lightgreen;
}

.greenBox{
    background-color: green;
}

.yellowBox{
    background-color: yellow;
}

.orangeBox{
    background-color: orange;
}

.purpleBox{
    background-color: purple;
}

.grayBox{
    background-color: gray;
}

.ask{
    text-align: center;
    font-size: 1.4em;
    background-color: lightgray;
    width: 50%;
    margin: 30px auto;
    padding: 30px;
}

/* .askBrand{
    margin: 20px;
    text-align: center;
    font-size: 1.4em;
} */

.brandSelect{
    display: flex;
    justify-content: center;
}

.brandSelectList{
    margin: 10px;
    font-size: 1.4em;
    border-bottom: 1px solid gray;
}

.brandSelectInput{
    display: none;
}

.brandSelectInput:checked + label{
    border: 3px solid red;
    box-shadow: 0px 0px 5px 0px grey;
}

.brandBox{
    /* padding: 10px; */
    border-radius: 5px;
    font-size: 1.8em;
}

.genderSelect{
    display: flex;
    justify-content: center;
}

.genderSelectList{
    font-size: 2em;
    margin: 0 70px;
}

.genderSelectInput{
    width: 30px;
    height: 30px;
}

.genderText{
    margin-top: 20px;
}

.targetSelect{
    display: flex;
    justify-content: center;
}

.targetSelectList{
    font-size: 2em;
    margin: 0 70px;
}

.targetSelectInput{
    width: 30px;
    height: 30px;
}

.targetText{
    margin-top: 20px;
}

.categorySelect{
    display: flex;
    justify-content: center;
}

.categorySelectList{
    font-size: 2em;
    margin: 0 70px;
}

.categorySelectInput{
    width: 30px;
    height: 30px;
    /* display: none; */
}

.categorySelectInputNone{
    display: none;
}

.categoryItem{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.categorySelectInputNone + label img{
    opacity: 0.2;
}

.categorySelectInputNone:checked + label img{
    opacity: 1;
}

.categoryText{
    margin-top: 20px;
    text-align: center;
}

.nextBtnBox{
    text-align: center;
    margin: 20px;
}

.nextBtn{

}

/* SearchPants */

.mannequinPants{
    width: 70px;
    height: 70px;
    content: '';
    background-color: yellow;
    position: absolute;
    top: 0;
    margin: 90px auto;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
}

/* SearchShoes */

.mannequinShoes{
    width: 70px;
    height: 70px;
    content: '';
    background-color: yellow;
    position: absolute;
    top: 0;
    margin: 150px auto;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
}

/* yourList */

.itemList{
    font-size: 1.4em;
    border: 1px solid gray;
    margin: 10px;
    padding: 20px;
}

.toMainBtn{
    text-align: center;
    font-size: 1.8em;
    background-color: lightgray;
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.toMainBtn a{
    color: black;
}

@media screen and (max-width: 700px){

.categorySelect{
    display: flex;
    text-align: center;
    width: 80vw;
    margin: auto;
}

.categorySelectList{
    justify-content: center;
    margin: 20px auto;
    width: 40%;
}

.categoryText{
    line-height: 1.5;
    margin: 0;
}

.categoryItem{
    width: 100px;
    height: 100px;
}

.colorSelect{
    width: 80vw;
}

.colorBox{
    width: 60px;
    height: 30px;
}

}